    <div class="row" id="people-search-section">
    <!-- Start people display -->
      <% @people.each do |person| %>
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <!-- front content -->
                <div class="person-profile">
                  <%= person.image_file_size ? image_tag(person.image.url(:small)) : image_tag(person.photo_url) %>
                </div>

                <div class="person-profile-content">
                  <h2><%= person.name %></h2>
                  <i><span class="location<%= person.id %>"> <%= person.location %> </span></i>
                </div>
              </div>
              <div class="back">
                <div class="person-profile-header">
                  <%= person.name %>
                </div>
                  <%= link_to "Update location", '#update-location', class: "update-location", data: person_path(person) %>
                <!-- back content -->

                <p><%= person.name %> last seen <span class="date<%= person.id %>"><%= person.created_at.to_formatted_s(:long) %></span> near <span class="location<%= person.id %>"> <%= person.location %> </span> by <span class="user<%= person.id %>"><%= person.user.name %></span>
                </p>

                <p>Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, asperiores eum modi voluptatibus officiis fugiat dolorem. </p>

              </div>
            </div>
          </div>
        </div>
        <!-- End of people display -->
      <% end %>
    </div>
