<div class="col-md-12" id="top-panel">
  <div class="top-panel-content row">
    <div class="col-md-6 col-sm-6 col-lg-6">
      <h1>Give a helping hand</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, autem, repellendus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, ipsum, laborum, ut at aliquam error modi fugit minima aliquid adipisci commodi sint voluptates itaque atque veritatis ratione beatae. Repudiandae, molestias!</p>
    </div>
    <!-- Sign up form loaded here on click -->
      <% if current_user %>
        <!-- Show user's profile / add person -->
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-6 col-sm-6" id="form-stuff">
          <%= render partial: 'users/user_profile' %>
        </div>
      <% else %>
        <!-- Show sign up form -->
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-md-4 col-lg-4" id="form-stuff">
          <%= render partial: 'users/awesome_form' %>
        </div>
      <% end %>
  </div>
</div>

<div class="container">
  <div class="col-md-12 col-lg-12 col-sm-12" id="profiles-panel">
    <!-- Add a person to application -->

    <!-- search box here -->
    <%= form_tag people_path, method: 'get', id: 'search_box' do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search by name" %>
    <% end %>

    <!-- People search section -->
    <%= render partial: 'people_search_section' %>

  </div>
</div>

<%= will_paginate @people %>


<script>
  // Search people
  $("#search").keyup(function() {
    $.get(this.action, $(this).serialize(), null, 'script');
    return false;
  })

  $("#add-person-tab").click(function(e) {
    $(".user-inner-tab-content").load("/ #add-person-form");
  })

  // Switch to user's info tab on click
  $("#user-info-tab").click(function(e) {
    // .user-info-tab currently in users/new... find out how to render partial
    $(".user-inner-tab-content").load("users/new .user-info-tab");
      e.preventDefault();
    });

  $(".signin").click(function() {
    $(".modal").modal('toggle');
    $(".modal-content").load("auths/new #user-login")
  });
</script>


