<div class="col-md-12" id="top-panel">

  <div class="top-panel-content row">
    <div class="col-md-6 col-sm-3">
      <h1>Give a helping hand</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, autem, repellendus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, ipsum, laborum, ut at aliquam error modi fugit minima aliquid adipisci commodi sint voluptates itaque atque veritatis ratione beatae. Repudiandae, molestias!</p>
    </div>

    <div class="col-md-3"></div>

    <!-- Sign up form loaded here on click -->
      <% if current_user %>
        <!-- Show user's profile / add person -->
        <div class="col-md-6 col-sm-3" id="form-stuff">
          <%= render partial: 'users/user_profile' %>
        </div>
      <% else %>
        <!-- Show sign up form -->
        <div class="col-md-4" id="form-stuff">
          <%= render partial: 'users/awesome_form' %>
        </div>
      <% end %>
  </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12" id="profiles-panel">
  <!-- Add a person to application -->

  <!-- search box here -->


  <!-- Profiles -->
   <!-- Generate people's profile using data -->

<!-- This will generate homeless Dans -->
<!-- Delete after Dan cries -->
<!--     <% @people.each do |person| %>
      <div class="person-profile col-md-4 col-lg-3 col-sm-6 col-xs-12">
        <%= image_tag(person.photo_url, class: "profile-img") %>
        <div class="person-name-tag">
          <%= person.name %> <br> <br> <br>
          <%= person.location %>
        </div>
      </div>
    <% end %>
 --><!-- Delete after Dan cries ABOVEEEE -->

</div>

<!-- Test area :::: DO NOT PASS ::::: DANGEROUS -->



<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <!-- front content -->
    <% @people.each do |person| %>
      <div class="person-profile">
        <%= image_tag("profile1.png") %>
      </div>

      <div class="person-profile-content">
        Name
      </div>
    </div>
    <div class="back">
      <!-- back content -->
      Name: <%= person.name %> <br>
      Age: <%= person.age %> <br>
      Location: <%= person.location %>
    </div>
    <% end %>
  </div>
</div>














<script>
  $("#add-person-tab").click(function(e) {
    $(".user-inner-tab-content").load("/ #add-person-form");
  })

  // Switch to user's info tab on click
  $("#user-info-tab").click(function(e) {
    // .user-info-tab currently in users/new... find out how to render partial
    $(".user-inner-tab-content").load("users/new .user-info-tab");
      e.preventDefault();
    });
</script>
