<div id="awesome-form">
  <%= image_tag("form-image2.jpg") %>
  <div class="awesome-inner-form">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.text_field :name, placeholder: "Name" %>

      <%= f.password_field :password, placeholder: "Password" %>

      <%= f.text_field :email, placeholder: "Email" %>

      <%= f.submit "Sign up", class: "btn btn-large btn-primary", id: "newClicker" %>
    <% end %>
  </div>
  <div class="awesome-bottom-form">
    <div class="row">
      <div class="col-md-4">
         <span class="glyphicon glyphicon-user"></span>
          <%= link_to "Sign in", '#', class: "signin" %>
        </div>
      <div class="col-md-8"><span class="glyphicon glyphicon-lock"></span>
        <%= link_to "Lost password", '#' %>
      </div>
    </div>
  </div>
</div>
