<div id="user-tab">
  <div class="user-top-tab">
    <ul class="nav nav-tabs">
      <li class="active"><%= link_to "Add new person", '#add-person', id: "add-person-tab" %></li>
      <li><%= link_to "Your Profile", "#user-info", id: "user-info-tab" %></li>
    </ul>
  </div>

  <div class="user-inner-tab">
    <div class="user-inner-tab-content">
      <!-- Render info here using ajax -->

      <div id="add-person-form">
        <%= form_for(@person) do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.text_field :name, placeholder: "Name" %>
          <%= f.text_field :age, placeholder: "Age" %>
          <%= f.text_field :location, placeholder: "Location" %>
          <%= f.text_area :description, placeholder: "Description" %>
          <%= f.submit "Help now!", class: "btn btn-large btn-primary", id: "add-person-now" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
