<div id="edit-user-profile">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.text_field :name, placeholder: "Name" %>

    <%= f.password_field :password, placeholder: "Password" %>

    <%= f.text_field :email, placeholder: "Email" %>

    <%= f.submit "Update setting", class: "btn btn-large btn-primary", id: "newClicker" %>
  <% end %>
</div>
