<!-- <div id="awesome-form">
  <%= image_tag("form-image2.jpg") %>
  <div class="awesome-inner-form">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.text_field :name, placeholder: "Name" %>

      <%= f.password_field :password, placeholder: "Password" %>

      <%= f.text_field :email, placeholder: "Email" %>

      <%= f.submit "Sign up", class: "btn btn-large btn-primary", id: "newClicker" %>
    <% end %>
  </div>
  <div class="awesome-bottom-form">
    <div class="row">
      <div class="col-md-5">
         <span class="glyphicon glyphicon-user"></span> Sign in
        </div>
      <div class="col-md-7"><span class="glyphicon glyphicon-lock"></span> Forgot password?</div>
    </div>
  </div>
</div>

 -->
 <style>
 #testDiv {
  margin: 250px;
 }
 </style>

<div id="testDiv"></div>
<select name="department_list" id="department_list">
    <option value="department1">Department 1</option>
    <option value="department2">Department 2</option>
</select>

<script>
  $("#department_list").change(function() {
    var selectDepart = $(this).val();
    $("#testDiv").html(selectDepart);
  })
</script>
