<!-- <p id="notice"><%= notice %></p>
<div class="row" id="sign-up-form">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :email %>
      <%= f.text_field :email %>
      <br />
      <%= f.submit "Create my account", class: "btn btn-large btn-primary", id: "newClicker" %>
    <% end %>
  </div>
</div>


 -->

<div id="awesome-form">
  <%= image_tag("form-image2.jpg") %>
  <div class="awesome-inner-form">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.text_field :name, placeholder: "Name" %>

      <%= f.password_field :password, placeholder: "Password" %>

      <%= f.text_field :email, placeholder: "Email" %>

      <%= f.submit "Sign up", class: "btn btn-large btn-primary", id: "newClicker" %>
    <% end %>
  </div>
  <div class="awesome-bottom-form">
    <div class="row">
      <div class="col-md-5">
         <span class="glyphicon glyphicon-user"></span> Sign in
        </div>
      <div class="col-md-7"><span class="glyphicon glyphicon-lock"></span> Forgot password?</div>
    </div>
  </div>
</div>
