<!DOCTYPE html>
<html>
  <head>
    <title>Helping Hand</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "A Helping Hand", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home", "#" %></li>
              <li><%= link_to "Blog", "#" %></li>
              <li>
                <% if current_user %>
                  <%= link_to "Log out", auths_path, method: :delete %> <br>
                <% else %>
                  <%= link_to "Sign in", new_auth_path %>
                <% end %>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- <div class="container"> -->
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}", id: "alert_box") %>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    <!-- </div> -->
  </body>
</html>
